/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color:  #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }
  
/* Container */
.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    margin: 2rem auto;
  }
  
/* Form */
form {
    text-align: center;
  }
  
form ul {
    list-style-type: none;
    padding: 0;
  }
  
form li {
    margin-bottom: 15px;
  }
  
form label {
    display: block;
    text-align: left;
    font-weight: 600;
    margin-bottom: 5px;
  }
  
form input[type="text"],
form input[type="email"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
form input[type="submit"],
.submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #2ecc71;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #2ecc71;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
form input[type="submit"]:hover,
.submit-btn:hover {
    background-color: #27ae60;
  }
  
.input-field {
    margin-bottom: 15px;
  }
  
.input-field input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
/* Links */
.text-base a {
    color: #333;
    text-decoration: none;
  }
  
.text-base a:hover {
    text-decoration: underline;
  }
  
/* Profile Picture */
.profile-pic {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
.profile-pic img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }

.go-back-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.go-back-btn:hover {
  background-color: #c0392b;
}

